$font-size: 0.9rem;
$font-color: darkgrey;
$border-radius: 3px;
$border-style: none;
form {
    min-width: 66vw;
    fieldset {
        border: $border-style;
        label {
            margin-top: 1rem;
            margin-bottom: 0.5rem;
            &.required::after {
                content: '*';
                color: red;
            }
        }
        input {
            line-height: 2rem;
            border-radius: $border-radius;
            border: $border-style;
            color: $font-color;
            font-size: $font-size;
        }
        textarea {
            border-radius: $border-radius;
            border: $border-style;
            min-height: 7rem;
            color: $font-color;
            font-size: $font-size + 0.1rem;
        }
    }
}