.row {
    display: flex;
    flex: 1 1 100%;
    padding: 5px;
}

.centerH {
    justify-content: center;
}

.centerV {
    align-items: center;
    text-align: center;
}

.col {
    flex-direction: column;
}

.offset-5 {
    margin-left: 5%;
}

.offset-30 {
    margin-left: 30%;
}

.fill-16\/9 {
    width: 100%;
    max-height: 56.25%;
}

.cover {
    background-size: cover;
    min-height: 100vh;
    &:nth-of-type(2n) {
        background: $background-color;
    }
}

.cover{
    &:nth-of-type(2n+1){
        background-color: limegreen;
    }
}

.cover{
    &:first-of-type{
            background: $background-color /*put an URL to have a picture*/ center fixed no-repeat;
    }
}
