@if($pz-btn) {
    .btn-base {
        border-radius: $pz-border-radius;
        border: none;
        line-height: 2rem;
        text-align: center;
        font-size: $pz-btn-font-size;
        margin-top: 1rem;
        position: relative;
        transition-duration: 0.4s;
        text-decoration: none;
    }
    .btn {
        @extend .btn-base;
        background-color: $pz-btn-color;
        color: white;
        &:hover {
            background-color: darken($pz-btn-color, 10%);
        }
    }
    .btn-clear {
        @extend .btn-base;
        background: none;
        color: $pz-btn-color;
        border: solid $pz-btn-color 2px;
        &:hover {
            background-color: darken($pz-background-color, 10%);
        }
    }
    
    .btn-right {
        left: 80%;
    }
}