@function pz-box-class-name($num, $name:$pz-pieces-name) {
    $class-name: '#{$pz-container}-#{$num}-#{$pz-pieces-name}';
    @return $class-name;
}

@function pz-create-pieces-scale-class-name($scale, $name:$pz-pieces-name) {
    $class-name: 'scale-#{$scale}x-#{$pz-pieces-name}';
    @return $class-name;
}

@mixin pz-create-pieces-class($pieces) {
    // Loop throught the number of pieces
    $num: 1;
    @each $num in $pieces {
        @if($num !=0) {
            // Create class name and set width value
            .#{pz-box-class-name($num)} {
                width: calc(100% * 1 / #{$num} - #{$pz-gutter});
            }
        }
    }
}

@mixin pz-create-scale-class($scale) {
    @each $factor in $scale {
        // Create scale class
        .#{pz-create-pieces-scale-class-name($factor)} {
            flex-grow: $factor;
        }
    }
}

@if($pz-grid) {
    //container
    *[class*='#{$pz-container}'] {
        @extend .#{$pz-container};
    }
    //child's
    *[class*='#{$pz-container}']>* {
        flex: 1 1 auto;
        margin: $pz-gutter / 2;
        padding: $pz-gutter / 2;
    }
    .#{$pz-container} {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        //margin: $pz-gutter;
    }

    .fullview-box {
        min-height: calc(100vh - #{$pz-gutter});
    }

    .center-piece {
        margin-left: auto;
        margin-right: auto;
        margin-top: 25%;        /*IE trick*/
        align-self: center;
    }
    /*   
    @if($pz-one-page-options) {
        
        .cover {
            background-size: cover;
            min-height: 100vh;
            &:nth-of-type(2n) {
                background: $pz-background-color;
            }
        }
        .cover {
            &:nth-of-type(2n+1) {
                background-color: limegreen;
            }
        }
        .cover {
            &:first-of-type {
                background: $pz-cover-picture-url center fixed no-repeat;
            }
        }
        
    }*/
    @include pz-create-pieces-class($pz-pieces);
    @include pz-create-scale-class($pz-pieces-size-scale);
}