@if($pz-media) {

//import this one in last!!
@media screen and (max-width:500px) {
    .mobile-Hidden {
        display: none;
    }
    .mobile-wrap {
        flex-wrap: wrap;
        word-wrap: normal;
    }
    .mobile-wrap-rev {
        flex-wrap: wrap-reverse;
        word-wrap: normal;
    }
    .mobile-display {
        display: block;
    }
    *[class*='btn'] {
        width: calc(100% - #{$pz-gutter}) ;
    }

    .fixed {
        display: none;
    }
    
    @include pz-create-pieces-class-for-mediaQ($pz-pieces);

}

@media screen and (min-width:500px) {
    
    .hidden {
        display: none;
    }
}
    
}