@if($pz-media) {

//import this one in last!!
@media screen and (max-width:500px) {
    .mobile-Hidden {
        display: none;
    }
    .mobile-wrap {
        flex-wrap: wrap;
        word-wrap: normal;
    }
    .mobile-wrap-rev {
        flex-wrap: wrap-reverse;
        word-wrap: normal;
    }
    .mobile-display {
        display: block;
    }
    .btn {
        width: 100%;
        left: 0;
    }
    #banner {
        justify-content: center;
        & h1 {
            justify-content: center;
        }
    }
    .fixed {
        display: none;
    }
}

@media screen and (min-width:500px) {
    
    .hidden {
        display: none;
    }
}
    
}